header {
  -webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
}

.carta {
  cursor: pointer;
  width: 300px;
  height: 120px;
  background: url('./assets/imagenes/back.png') 80% no-repeat;
  background-position: 35% 65%;
  opacity: 85%;
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  margin: 5px 5px;
  color: white;
}

@media screen and (min-width: 1366px) {
  .carta {
    width: 340px;
    background-position: 0% 65%;
  }
}

@media screen and (min-width: 1440px) {
  .carta {
    width: 400px;
    background-position: 0% 65%;
  }
}

.carta:hover {
  opacity: 100%;
  color: black;
}

.titulo-carta {
  display: flex;
  font-size: 1.2rem;
  font-weight: 500;
}

.pagination li a {
  font-size: small;
  padding: 0.25rem 0.6rem;
}

.pagination li a span {
  font-size: small;
}

.botones-paginacion {
  display: flex;
}

.botones-paginacion li a {
  border-radius: 0px !important;
}

.escondido {
  display: none;
}

#cargando-pagina {
  background: url('/assets/imagenes/loading-pokeball.png') center center no-repeat;
  background-size: 64px 64px;
  width: 64px;
  height: 64px;
  animation: girar 0.5s infinite;
  -webkit-animation: girar 0.5s infinite;
  -ms-animation: girar 0.5s infinite;
  -moz-animation: girar 0.5s infinite;
  -o-animation: girar 0.5s infinite;
}

@keyframes girar {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
